# Ignorar carpeta de archivos compilados por PyInstaller
dist/
build/
*.spec

# Ignorar entorno virtual (si llegás a crearlo dentro del repo)
venv/

# Caches de Python
__pycache__/
*.py[cod]

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp
*.bak
